//颜色定义规范
$border-color-theme: #2672FF;//背景主题颜色默认
$background-color-theme: rgba(38, 114, 255, 0.2);//背景主题颜色默认

$border-color-theme1: #ff7f66;//背景主题颜色默认1
$background-color-theme1: rgba(255,127,102,0.2);//背景主题颜色默认1